@use '@/styles/variables' as v;

.logo {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: v.$color-black;
  transition: color 0.2s ease;
  &:hover {
    color: v.$color-d-grey;
  }
}

.logoIcon {
  margin-right: 0.5rem;
}
