@use '../../styles/variables' as v;

.selector {
  min-width: 120px;
  padding: 0.5rem;
  border: 1px solid v.$color-l-grey;
  border-radius: 8px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: v.$box-shadow-hover;
    }
  }
  &:focus {
    box-shadow: v.$box-shadow-hover;
    border-color: v.$color-shade-1;
    outline: none;
  }
  &:disabled {
    box-shadow: none;
  }
}
