@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: v.$color-tint-5;
}
.title {
  color: v.$color-primary;
  font-style: inherit;
  font-size: 24px;
  font-weight: 400;
}
.formContainer {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: v.$box-shadow;
  min-width: 390px;
  background-color: v.$color-white;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: v.$box-shadow-hover;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.error {
  color: v.$color-error;
  align-self: flex-start;
  font-size: 14px;
  min-height: 16px;
}

.linkWrapper {
  margin-top: 1rem;
  text-align: center;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 111%;
  margin-bottom: 3rem;
}
