@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-bottom: 16px;
}

.table {
  width: 100%;
  border-spacing: 0 4 4px;
  margin-bottom: 8px;
  border-radius: 4px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 5px;
    width: 248px;
    border-radius: 8px;
    transition: background-color 0.2s;
    &:hover {
      background-color: v.$color-tint-5;
    }
  }
  .invisible {
    width: 30px;
    border: none;
    padding: 5px;
    background-color: inherit;
    transition: background-color 0.2s;
    &:hover {
      background-color: inherit;
    }
  }

  th {
    text-align: left;
    border: none;
    padding: 0;
  }
}

// .input {
//   transition: background-color 0.2s;
//   &:hover {
//     background-color: v.$color-tint-5;
//   }
//   &:focus {
//     background-color: v.$color-tint-5;
//   }
// }
