@use '@/styles/variables' as v;

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
  max-width: v.$laptop;
  margin: 0 auto;
}
