// ===== Neutral =====
$color-black: #263238;
$color-d-grey: #4d4d4d;
$color-grey: #717171;
$color-l-grey: #89939e;
$color-grey-blue: #abbed1;
$color-silver: #f5f7fa;
$color-white: #ffffff;

// ===== Primary / Secondary / Info =====
$color-primary: #4caf4f;
$color-secondary: #263238;
$color-info: #2194f3;

// ===== Color Shades =====
$color-shade-1: #43a046;
$color-shade-2: #388e3b;
$color-shade-3: #237d31;
$color-shade-4: #1b5e1f;
$color-shade-5: #103e13;

// ===== Color Tints =====
$color-tint-1: #66bb69;
$color-tint-2: #81c784;
$color-tint-3: #a5d6a7;
$color-tint-4: #c8e6c9;
$color-tint-5: #e8f5e9;

// ===== Action =====
$color-warning: #2e7d31;
$color-error: #e53835;
$color-success: #fbc02d;

$box-shadow: 0 2px 10px rgb(0, 0, 0, 10%);
$box-shadow-hover: 0 2px 10px rgb(0, 0, 0, 20%);

$laptop: 1300px;
$tablet: 1060px;
$tablet-sm: 768px;
$phone: 620px;
