@use 'normalize';
@use 'variables';
@use 'mixins';
@use 'globals';
@use '@/styles/variables' as v;

*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
}

body {
  color: v.$color-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
