@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  background: v.$color-white;
  backdrop-filter: none;

  transition: background-color 0.2s ease;
}
.sticky {
  background-color: v.$color-silver;
}
.sticky .headerWrapper {
  padding: 10px 15px;
}

.headerWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  transition: padding 0.2s ease;

  @include m.phone {
    flex-direction: column;
  }
}
.nav {
  display: flex;
  gap: 1rem;
}

.navLink {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
}

.signUp {
  color: v.$color-white;
  background: v.$color-primary;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: v.$color-shade-2;
    }
  }
}

.signIn {
  color: v.$color-primary;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: v.$color-tint-5;
    }
  }
}
