@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;
.header {
  background-color: v.$color-silver;
}

.headerWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  @include m.phone {
    flex-direction: column;
  }
}
.nav {
  display: flex;
  gap: 1rem;
}

.navLink {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
}

.signUp {
  color: v.$color-white;
  background: v.$color-primary;

  &:hover {
    background: v.$color-shade-2;
  }
}

.signIn {
  color: v.$color-primary;

  &:hover {
    background: v.$color-tint-5;
  }
}
