@use '@/styles/variables' as v;

.wrapper {
  color: v.$color-d-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.title {
  text-align: center;
}
.text {
  text-align: center;
}
