@use '@/styles/variables' as v;

.input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid v.$color-l-grey;
  border-radius: 8px;
  transition:
    border-color 0.2s ease,
    border-color 0.2s ease;

  &:focus {
    box-shadow: v.$box-shadow;
    border-color: v.$color-shade-1;
    outline: none;
  }

  &:disabled {
    background: v.$color-silver;
    cursor: not-allowed;
  }
}
