@use '@/styles/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.tabList {
  display: flex;
  border-bottom: 1px solid v.$color-grey-blue;
  margin-bottom: 12px;
}

.tab {
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: v.$color-black;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: v.$color-shade-3;
    }
  }
  &.active {
    border-bottom: 2px solid v.$color-primary;
    font-weight: 600;
    color: v.$color-primary;
  }
}

.tabContent {
  flex-grow: 1;
  overflow: auto;
  padding: 12px 0;
}
